<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>JDBCFilter</filter-name>
        <filter-class>filter.JDBCFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CookieFilter</filter-name>
        <filter-class>filter.CookieFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CookieFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>JDBCFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doLoginServlet</servlet-name>
        <servlet-class>controller.DoLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoLogoutServlet</servlet-name>
        <servlet-class>controller.DoLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>controller.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalculateDistanceServlet</servlet-name>
        <servlet-class>controller.CalculateDistanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoGetQuoteServlet</servlet-name>
        <servlet-class>controller.DoGetQuoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetQuoteDetailServlet</servlet-name>
        <servlet-class>controller.GetQuoteDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseServlet</servlet-name>
        <servlet-class>controller.PurchaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoPurchaseServlet</servlet-name>
        <servlet-class>controller.DoPurchaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetQuotesServlet</servlet-name>
        <servlet-class>controller.GetQuotesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuoteServlet</servlet-name>
        <servlet-class>controller.EditQuoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyQuoteServlet</servlet-name>
        <servlet-class>controller.ModifyQuoteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doLoginServlet</servlet-name>
        <url-pattern>/doLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoLogoutServlet</servlet-name>
        <url-pattern>/DoLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/ContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculateDistanceServlet</servlet-name>
        <url-pattern>/CalculateDistanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoGetQuoteServlet</servlet-name>
        <url-pattern>/DoGetQuoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetQuoteDetailServlet</servlet-name>
        <url-pattern>/GetQuoteDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseServlet</servlet-name>
        <url-pattern>/PurchaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoPurchaseServlet</servlet-name>
        <url-pattern>/DoPurchaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetQuotesServlet</servlet-name>
        <url-pattern>/GetQuotesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuoteServlet</servlet-name>
        <url-pattern>/EditQuoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyQuoteServlet</servlet-name>
        <url-pattern>/ModifyQuoteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
